<!DOCTYPE html>
<html>
	<head>
    <title>Resume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="regular_wrapper_about">
    <nav class="topnav">
      <%= link_to "Home", root_path %>
      <%= link_to "Job history", work_path %>
      <%= link_to "About", about_path %>
      <a href="contact" data-toggle="modal" data-target="#exampleModal">Contact</a>
    </nav>
      <div class="about_content col-6 col-md-4">
        <h1>Thank you so much for taking the time to look at my work. Here is a little info about me.</h1>
        <p>My name is Gabriel Maestas. I'm married to my highschool sweet heart Rubi. We have two beautiful girls Ellie and Emersyn. We love to spend our time outdoors fishing, hiking, or just going to the park. My family is everything to me which is why I chose to become a developer.
        </p>

        <p>In an evolving world where computers are more widely used, following this career path would ensure job security for years to come. Not only is coding a secure job for the future it's something I have been interested in since I was a child. I've always loved to figure out how things work and how to make them run even better. That paired with my love for computers made this choice an easy one.
        </p>

        <p>When i'm not working on my development career or hanging out with my family, you can find me relaxing and enjoying my hobbies. They consist of building and modifying pc's, video games, playing instruments, and sport shooting. I mainly play RPG games on my pc that I built. I also play guitar and piano which my kids love to join in and help me play.
        </p>
      </div>

    <div class="pic col-6 col-md-4"></div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Phone - (520)820-3023
            <br//>
            E-mail - gabrielmaestas20@gmail.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>