<!DOCTYPE html>
<html>
	<head>
    <title>Resume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="topnav">
      <%= link_to "Home", root_path %>
      <%= link_to "Job history" %>
      <a href="#contact">Contact</a>
      <%= link_to "About", about_path %>
    </div>
  	<div class="parallax_wrapper">
  		<div class="content">
  			<p>Hi. My name is Gabriel Maestas. I am an aspiring web developer that would be a perfect match for your team.
  			</p>
  			
  			<p>I believe I would be the perfect candidate because I have a strong grasp of html and css. I also have a working knowledge of rails and javascript.
  			</p> 

  		</div>
  	</div>
  	<div class="regular_wrapper">
  		<div class="content">
  			<p>Here are the links to my git repository and my heroku so that you can see my projects. I hope you enjoy what you see and there will definitely be more to come.
  			</p>

  			<p>links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links
  			</p>
  		</div>
  	</div>
  	<div class="parallax_wrapper">
  		<div class="content">
  			<p>A brief history of my work experience has been going from call center to call center while my heart was always set in the IT industry. I would always go home after a long day of work and just mess around with coding silly little text games with my friends and doing challenges with them.
  			</p>
  			
  			<p>Click here for a more in depth work history overview.
  			</p> 
  		</div>
  	</div>
  	<div class="regular_wrapper">
  		<div class="content">
  			<p>Here are the links to my git repository and my heroku so that you can see my projects. I hope you enjoy what you see and there will definitely be more to come.
  			</p>

  			<p>links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links links
  			</p>
  		</div>
  	</div>
    <%= yield %>
  </body>
<html>