<!DOCTYPE html>
<html>
	<head>
    <title>Resume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="topnav">
      <%= link_to "Home", root_path %>
      <%= link_to "Job history" %>
      <a href="#contact">Contact</a>
      <%= link_to "About", about_path %>
    </div>
  	<div class="parallax_wrapper">
      <div class="content">
  			<p>Hi. My name is Gabriel Maestas. I'm an aspiring developer that would be a perfect match for your team.
  			</p>
  			
  			<p>I believe I would be the perfect candidate because I have a strong grasp of html and css. I also have a working knowledge of rails and javascript.
  			</p>

        <p>I am eager and ready to learn whatever programming language I would need to know for the projects that come my way.
        </p> 
  		</div>
  	</div>
  	<div class="regular_wrapper">
  		<div class="content">
  			<p>My dream job has always been developement. From working on company intranets to websites for the mass public to view I've always wanted to put my creative spin on whatever platform I am on.
  			</p>

        <p>I'm also determined to continue working towards creating applications or even being part of a team as big as Microsoft or Google to bring innovative programs to market.
        </p>
  		</div>
  	</div>
  	<div class="parallax_wrapper">
  		<div class="content">
  			<p>A brief history of my work experience has been going from the fast food industry to call centers. I started my journey working the fry station at What-A-Burger. I worked there until I saved enough for a GED test.
  			</p>

        <p>Once I had my GED, I moved up to higher paying call centers. I've worked for Verizon, Dish Network, and Citibank.
  			
  			<p>Click here for a more in depth work history overview.
  			</p> 
  		</div>
  	</div>
  	<div class="regular_wrapper">
  		<div class="content">
  			<p>Here are the links to my git repository and my heroku so that you can see my projects. I hope you enjoy what you see and there will definitely be more to come.
  			</p>

        <p>Feel free to contribute places to the Nomster app or quotes to the Splurty app.
        </p>

  			<p>Here is my yelp clone Nomster<a href="https://github.com/gabrielm20/gabem_nomster"> Github</a> /<a href="https://nomster-gabriel-maestas.herokuapp.com/"> Heroku</a>
  			</p>

        <p>Here is a random quote generator Splurty<a href="https://github.com/gabrielm20/Splurty"> Github</a> / <a href="https://splurty-gabriel-maestas.herokuapp.com/"> Heroku </a>
        </p>
  		</div>
  	</div>
    <%= yield %>
  </body>
<html>