<!DOCTYPE html>
<html>
	<head>
    <title>Resume</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  	<nav class="topnav">
      <%= link_to "Home", root_path %>
      <%= link_to "Job history", work_path %>
      <%= link_to "About", about_path %>
      <a href="contact" data-toggle="modal" data-target="#exampleModal">Contact</a>
    </nav>
    <div class="regular_wrapper_work">    	
    	<div class="work_content col-md">
    		Citibank
    		<p>My most recent job was as a collections specialist for Citibank. I would make outbound calls to people that were behind on their credit card payments and use negotioation tactics to resolve the accounts. In order to succeed we had to hit strict goals. When we fell behind we had a coach there to give us constructive criticism. Working here gave me the ability to focus on whats important and be persistant.
    		</p>
    	</div>
    	<div class="work_content col-md">
    		Dish Network
    		<p>My time at Dish Network started out with me being entry level technical support. I was able to promote twice into the position of broadband specialist. Each department I worked in taught me to think logicaly and give precise directions to customers. Now instead of trying random ways to fix something I take a structured approach for quick and efficient resolutions.
    		</p>
    	</div>
    	<div class="work_content col-md">
    		Afni
    		<p>Afni was my first call center job. At Afni, I worked their Verizon Wireless customer service contract. This is the job that majorly influenced my desicion to become a developer. Hearing customer frusteration with the company website and even my own with the company intranet made me want to be one of the people to make them better.
    		</p>
    	</div>
    	<div class="work_content col-md">
    		What-A-Burger
    		<p>My first real job was What-A-Burger. It was here that I realized education was needed for a better quality of life. Working in the hot kitchen and slipping on the greasy floor only motivated me to get my GED. No matter how bad a day was I learned to push through and always look forward to a better future.
    		</p>
    	</div>    
    </div>
    <%= yield %>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Contact Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Phone - (520)820-3023
            <br//>
            E-mail - gabrielmaestas20@gmail.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </body>
<html>